.Board {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
}

.BlackTile, .WhiteTile {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    transition: .2s;
}

.BlackTile {
    /* background-color: rgb(38, 38, 38); */
    background: #354688;
}

.WhiteTile {
    /* background-color: white; */
    background: #3276f7;
}

.BlackTile img, .WhiteTile img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    transition: .2s;
    z-index: 1;
    position: relative;
}

.SelectedTile {
    background: red;
}

.BlackTile img:hover, .WhiteTile img:hover {
    cursor: pointer;
    filter: drop-shadow(4x 4px 10px white);
    -webkit-filter: drop-shadow(4px 4px 10px white);
}
